@inject IProductService ProductService
@implements IDisposable

@if (ProductService.Products == null || ProductService.Products.Count == 0)
{
	<span>@ProductService.Message</span>
}
else
{
	<div class="row pb-3">
		@foreach (var product in ProductService.Products)
		{
			<div class="col-lg-3 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
						<div class="card">
							<img src="@product.ImageUrl" class="card-img-top rounded" />
							<div class="card-body">
								<div class="pl-1">
									<p class="card-title h5 text-primary">@product.Title</p>
									<p class="card-title text-info">by <b>@product.Description</b></p>
								</div>
								<div class="pl-1">
									@GetPriceText(product)
								</div>
							</div>
						</div>
						<div>
							<a href="/product/@product.Id" class="btn btn-primary form-control">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

	for(var i = 1; i <= ProductService.PageCount; i++){
		<a class="btn 
				  @(i == ProductService.CurrentPage ? "btn-info" : "btn-outline-info")"
					href="/search/@ProductService.LastSearchText/@i">@i</a>
	}
}

@code {
	protected override void OnInitialized()
	{
		ProductService.ProductChanged += StateHasChanged;
	}
	public void Dispose(){
		ProductService.ProductChanged -= StateHasChanged;
	}

	private string GetPriceText(Product product){
		var variants = product.Variants;
		if(variants.Count==0){
			return string.Empty;
		}
		else if(variants.Count == 1){
			return $"${variants[0].Price}";
		}
		decimal minPrice = variants.Min(v => v.Price);
		return $"$Starting at {minPrice}";
	}
}